header

body {
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 100vh; 
    padding-top: 60px; 
    color: white;
}

.container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 90%;
    max-width: 1300px; 
    margin-top: 100px; 
    color:gray; 
}

.video-section {
    flex: 3; 
    margin-right: 20px; 
}

#live-video {
    width: 100%; 
    height: 500px; 
    border-radius: 8px;
}

.chat-section {
    flex: 1; 
    display: flex; 
    flex-direction: column; 
}

.chat-box {
    display: flex; 
    flex-direction: column; 
    background-color: white; 
    border-radius: 8px; 
    padding: 10px; 
    height: 500px; 
}

#chat-messages {
    flex: 1; 
    overflow-y: auto; 
    margin-bottom: 10px; 
    background-color: white; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.chat-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}


.delete-button {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}

.delete-button i {
    pointer-events: none;
}


#chat-form {
    display: flex;
}


#chat-input {
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ced4da;
    border-radius: 8px 0 0 8px; 
    font-size: 16px; 
}


#chat-send {
    padding: 10px 20px; 
    background-color: #678d88e0; 
    color: #ffffff; 
    border: none;
    border-radius: 0 8px 8px 0; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

