header

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0px 0px 20px 0px;
    color: white;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    color: #343a40;
}

.hidden{
    display: none;
}

.nothidden{
    display: block;
}


h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
}

#registration-form {
    display: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #f8f9fa;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    background-color: #ffffff;
    border-color: #007bff;
}

.button-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #678d88e0;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #117197;
    transform: scale(1.02);
}

#btn-cadastrar {
    display: none;
}

button:active {
    background-color: #004494;
    transform: scale(1);
}

.descricao-opcoes {
    display: none;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    white-space: nowrap;
    z-index: 1;
}

.button-container:hover .descricao-opcoes {
    display: block;
}